/*
Assigns:
    - Margin left and right at 10px to body tags
    - Margin left and right at 15px to div tags
    - You must use a mixin
*/

@mixin marginLR($property) {
	margin-left: $property;
	margin-right: $property;
}

body {
	@include marginLR(10px);
}

div {
	@include marginLR(15px);
}
